.credits {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  title {
      animation: title-anim 2s infinite;
      margin-bottom: 20px;
      font-family: 'Game-Font-7';
  }
  a {
      color: rgb(107, 107, 226);
  }
  .a_embded {
      margin-left: 5px;
  }
}