html {
  overflow: hidden;
}
body {
  margin: 0;
}
*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  background-color: rgba(255,255,255,0);
}
.game {
  //position: absolute;
  //bottom: 10vh;
  display: flex;
  /*
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);*/
}
.clearer {
  background-color: gray;
  filter: grayscale(100%);
}
.game_field {
  width: 5vw;
}

@keyframes tile_animation {
  from {
    transform: translate3d(0vw, -50%, 0);
  }
  to {
    transform: translate3d(-105vw, -50%, 0);
  }
}

@keyframes tile_fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    font-size: calc(175%);
  }
}

.game_stripe {
  display: flex;
  flex-direction: row;
  border-bottom: black 2px solid;
  position: relative;
  height: calc(min(15vw, 10vh));
  width: 100%;
  .tile_animate {
    transform: translateY(-50%);
  }
  .tile_animate2 {
    transform: translateY(-50%);
    animation: tile_animation2 forwards linear;
  }
  .hit {
    color: red !important;
    filter: grayscale(100%);
    //filter: grayscale(100%);
  }
  img { 
    position: absolute;
    font-size: calc(min(5.5vw, 9vh));
    width: calc(min(5.5vw, 9vh));
    height: calc(min(5.5vw, 9vh));
    font-weight: bold;
    top: 50%;
    left: 100%;
    //-webkit-backface-visibility: hidden;
  }
  .goLeft {
  }
}
.stripe0 {
  //background-color: blue;
}
.stripe1 {
  //background-color: red;
}
.stripe2 {
}
.stripe3 {
  //background-color: green;
}
.note_fadeOut {
  opacity: 0%;
  transition: opacity 150ms linear, scale 1500ms linear;
}
.progressBar {
  //position: absolute;
  top: 15vh;
  margin-left: 30vw;
  height: 2vh;
  width: 50vw;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ddd;
  .progressBar_content {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    transition: transform 20ms;
  }
}

.player iframe{
  /*position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 100vw !important;
  max-height: 100vh !important;*/
}

//TUTAJ NOWE

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: blue 1px solid;
}