html {
  overflow: hidden;
}
body {
  margin: 0;
}
.game {
  display: flex;
  flex-direction: row;
}
.clearer {
  filter: grayscale(100%);
}
.game_field {
  width: 5vw;
}

@keyframes tile_animation {
  from {
    transform: translate(0vw, -50%);
  }
  to {
    transform: translate(-105vw, -50%);
  }
}

@keyframes tile_fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    font-size: calc(175%);
  }
}

.game_stripe {
  border-bottom: black 2px solid;
  position: relative;
  height: 10vh;
  width: 100%;
  .tile_animate {
    transform: translateY(-50%);
    animation: tile_animation forwards linear;
  }
  .tile_animate2 {
    transform: translateY(-50%);
    animation: tile_animation2 forwards linear;
  }
  .hit {
    color: red !important;
    //filter: grayscale(100%);
  }
  img { 
    position: absolute;
    font-size: calc(min(5.5vw, 9vh));
    font-weight: bold;
    top: 50%;
    left: 100%;
  }
  .goLeft {
  }
}
.stripe0 {
  //background-color: blue;
  background-color: yellow;
}
.stripe1 {
  //background-color: red;
  background-color: yellow;
}
.stripe2 {
  background-color: yellow;
}
.stripe3 {
  //background-color: green;
  background-color: yellow;
}
.bgc {
  background-color: green !important;
}
.note_fadeOut {
  opacity: 0%;
  scale: 1.5;
  transition: opacity 150ms linear, scale 1500ms linear;
}