body {
  margin: 0;
}
.game {
  display: flex;
  flex-direction: row;
}
.game_field {
  width: 5vw;
  border-right: solid #000 1px;
}
.game_stripe {
  position: relative;
  height: 10vh;
  width: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
  }
  .goLeft {
    transform: translate(-100vw, -50%);
  }
}
.stripe0 {
  background-color: blue;
}
.stripe1 {
  background-color: red;
}
.stripe2 {
  background-color: yellow;
}
.stripe3 {
  background-color: green;
}