html {
  overflow: hidden;
}
body {
  margin: 0;
}
.game {
  display: flex;
  flex-direction: row;
}
.clearer {
  filter: grayscale(100%);
}
.game_field {
  width: 5vw;
  border-right: solid #000 1px;
}

@keyframes tile_animation {
  from {
    transform: translate(0, -50%);
  }
  to {
    transform: translate(calc(-105vw), -50%);
  }
}

.game_stripe {
  position: relative;
  height: 10vh;
  width: 100%;
  .tile_animate {
    animation: tile_animation forwards linear; 
  }
  .hit {
    color: white !important;
    //filter: grayscale(100%);
  }
  img { 
    position: absolute;
    top: 50%;
    left: 100%;
  }
  .goLeft {
  }
}
.stripe0 {
  background-color: blue;
}
.stripe1 {
  background-color: red;
}
.stripe2 {
  background-color: yellow;
}
.stripe3 {
  background-color: green;
}