@keyframes bar_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.slider {
  position: absolute;
  left: 200%;
  --slider_height: 10vw;
  --hex_width: 5vw;
  max-height: 10vh;
  min-height: 10vh;
  display: flex;
  position: relative;
  align-items: center;
  width: 0;
  height: var(--slider_height);
  * {
    display: flex;
    background-color: blue;
  }
  .slider_handle {
    position: absolute;
    display: flex;
    left: -2vw;
    color: red;
    z-index: 1;
    width: var(--hex_width);
    height: var(--slider_height);

    img {
      position: absolute;
      left: 0;
      top: 0;
      display: grid;
      place-items: center;
      padding: 0;
      margin: 0;
      font-size: 8vh;
      width: inherit;
      height: inherit;
    }
  }
  .slider_bar {
    position: absolute;
    align-items: center;
    height: 3vh;
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(0,83,99,1) 0%);

    .slider_bar_content {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, rgba(230,230,230,1) 100%, rgba(0,83,99,1) 100%);
    }
  }
}